<% for(var i=0;i<title.length;i++) {%>
<div class="grid_2 col_1">
    <a href="Play.html">
    <img src="<%=img_src[i]%>" class="img-responsive" alt=""/>
    <div class="caption1">
    <ul class="list_3">
    <li><i class="icon5"></i></li>
</ul>
<i class="icon4"></i>
    <p class="m_3"><%=title[i]%></p>
</div>
</a>
</div>
<%}%>