<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form action = "/login", method = "post">
		<div>
			email
			<input type="email", name="email", id="email"/>
		</div>
		<div>
			password
			<input type="password", name="password", id="password"/>
		</div>
		<button type="submit"> login </button>
	</form>
  </body>
</html>
