<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WiliWili</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/5.19/video.min.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="container_wrap">

            <div class="col-sm-3 logo">
                <a href="/">
                    <img alt="" src="/images/logo.png" />
                </a>
            </div>
            <div class="header_top">
			<div class="clearfix"></div>
            </div>

			<!--<h1><%= video.videoUrl %></h1>-->
            <div class="content">
                <div class="video2">
                    <video id="my-player" class="video-js vjs-big-play-centered" controls preload="auto" width="1050" height="500"  data-setup='{}'>
						<source src='/<%= video.videoUrl %>' />
                    </video>
                    <div class="play_button">
                        <form action="return false;" method="post">
                            <button class="praise" id="pra" onclick="upvote();return false;"> Good </button>
                            <button class="reward" onclick="pay();return false;"> Reward </button>
                            <input type="text" id="reward_amount" name="amount" placeholder="1000"/>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer id="footer">
            <div id="footer-3d">
                <div class="gp-container">
                    <span class="first-widget-bend"></span>
                </div>
            </div>
            <div class="gp-footer-larger-first-col" id="footer-widgets">
                <div class="gp-container">
                    <div class="footer-widget footer-1">
                        <div class="wpb_wrapper">
                            <img src="/images/f_logo.png" alt="">
                        </div>
                        <div class="copy">
                            <p>&copy;all right reserved</p>
                        </div>
                    </div>
                    <div class="footer_box">
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>Categories</h3>
                            <ul class="first">
                                <li><a href="#">Home</a></li>
                                <li><a href="/rewards">Rewards</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>About us</h3>
                            <ul class="first">
                                <li><a href="#">Yan Chen</a></li>
                                <li><a href="#">Xinli Hou</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3_2 span_1_of_3">
                            <ul class="first">
                                <li></li>
                                <li><a href="#">Yun Yang</a></li>
                                <li><a href="#">Shanchen Zou</a></li>
                                <li><a href="#">Yuanqing Zhang</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
    </div>

</body>

<script type="text/javascript">
    var time=0;
    function changeColor(btn) {
            if(time%2==1) {
                btn.style.background = "#6103d2";
            }
            if(time%2==0){
                btn.style.background="#d40100";
            }
            time++;
    }
    function upvote(){
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.onreadystatechange=function()
            {
            if (xhr.readyState==4 && xhr.status==200)
            {
                alert('点赞成功！');
            }
            else if (xhr.readyState == 4 && xhr.status==501){
                top.location.href = '/login';
            }
        }
        var url = "/play/praise?vid=";
        url += getQueryString('id');
        xhr.open("GET", url, true);
        xhr.send();
    }
    function pay(){
        var amount = document.getElementById('reward_amount').value;
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.onreadystatechange=function()
            {
            if (xhr.readyState==4 && xhr.status==200)
            {
                alert('充电成功！金额='+ amount);
            }
            else if (xhr.readyState == 4 && xhr.status==501){
                top.location.href = '/login';
            }
        }
        var url = "/play/pay?vid=";
        url += getQueryString('id');
        url += '&amount='
        url += String(amount);
        xhr.open("GET", url, true);
        xhr.send();
    }    
    function getQueryString(name)
    {
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
</script>

</html>
