<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WiliWili</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/5.19/video.min.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>

<body>

    <div class="container">
        <div class="container_wrap">

            {# header #}
            <div class="col-sm-3 logo">
                <a href="/">
                    <img alt="" src="/images/logo.png" />
                </a>
            </div>
            <div class="header_top">
                <div class="col-sm-6 nav" >
                    <ul>
                      <li>
                          <span class="simptip-position-bottom simptip-movable" data-tooltip="Home">
                              <a href="/"></a>
                          </span>
                      </li>
                     <li>
                         <span class="simptip-position-bottom simptip-movable" data-tooltip="more">
                             <a href="/"> </a>
                         </span>
                     </li>
                    </ul>
                </div>
                <div class="col-sm-3 header_right">
                    <ul class="header_right_box">
                        <li><p><a href="Login.html">Sign in</a> / <a href="Register.html">Sign up</a> </p></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Search..." onfocus="this.value='';" onblur="if(this.value==''){this.value='';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

            {# content #}
            <div class="content">
                 {# 这里是youtube链接 #}
                <div class="video1">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/s1QeoSedWmM" frameborder="0" ></iframe>
                </div>
                {# video 插入 #}
                <div class="video2">
                    <video id="my-player" class="video-js vjs-big-play-centered" controls preload="auto" width="1050" height="500"  data-setup='{}'>
                        <source src="/images/incredible2.mp4">
                    </video>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    {# footer #}
    <div class="container">
        <footer id="footer">
            <div id="footer-3d">
                <div class="gp-container">
                    <span class="first-widget-bend"></span>
                </div>
            </div>
            <div class="gp-footer-larger-first-col" id="footer-widgets">
                <div class="gp-container">
                    <div class="footer-widget footer-1">
                        <div class="wpb_wrapper">
                            <img src="/images/f_logo.png" alt="">
                        </div>
                        <br><p>writer something in footer</p>
                        <p>xxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                    <div class="footer_box">
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>XXXXXXX</h3>
                            <ul class="first">
                                <li><a href="#">XXX</a></li>
                                <li><a href="#">XXX</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>About us</h3>
                            <ul class="first">
                                <li><a href="#">XXX</a></li>
                                <li><a href="#">XXX</a></li>
                            </ul>
                            <div class="copy">
                                <p>&copy;all right reserved</p>
                            </div>
                        </div>
                        <div class="col_1_of_3 span_1_of_3">
                            <h3>XXXXXXX</h3>
                            <ul class="first">
                                <li><a href="#">XXX</a></li>
                                <li><a href="#">XXX</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
