<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer a Reward</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
     <link href="/css/OfferAReward.css" rel='stylesheet' type='text/css' />
    <link href="/css/personal.css" rel='stylesheet' type='text/css' />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>
<body>
<div class="container">
        <div class="container_wrap">
            <div class="col-sm-3 logo">
                <a href="index.html">
                    <img alt="" src="/images/logo.png" />
                </a>
            </div>
            <div class="header_top">
			<div class="clearfix"></div>
            </div>

            <div class="content">
                <div class="personal-Title">Post a Reward</div>
                <img src="/images/Line.png" class="personal-line"/>
                <form action="/post/post_reward" method="post">
                    <table class="reward-table">
                        <tr>
                            <th>
                                <div class="money-title">Topic</div>
                            </th>
                            <td>
                                <div class="reward-content">
                                    <div class="reward-title">
                                        <input type="text" name="title" placeholder="Please enter the topic of the reward here"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th valign ="top"><div class="money-title">Description</div></th>
                            <td>
                                <div class="reward-content">
                                    <div class="reward-info">
                                        <textarea rows="9" name="description" cols="30"placeholder="Please enter the text here"></textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th> <div class="money-title">Reward Amount(Wili)（wili)</div></th>
                            <td>u
                                <div class="reward-content">
                                    <div class="money">
                                        <input type="text" name="wili" placeholder="The higher the reward amount, the easier it is to find resources."/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="reward-button" align="center">
                            <button type="submit">POST</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
</body>
</html>
