<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer a Reward</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
     <link href="../static/css/OfferAReward.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/personal.css" rel='stylesheet' type='text/css' />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="../static/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>
<body>
<div class="container">
        <div class="container_wrap">
            <div class="col-sm-3 logo">
                <a href="index.html">
                    <img alt="" src="../static/images/logo.png" />
                </a>
            </div>
            <div class="header_top">
                <div class="col-sm-6 nav" >
                    <ul>
                      <li>
                          <span class="simptip-position-bottom simptip-movable" data-tooltip="Home">
                              <a href="index.html"></a>
                          </span>
                      </li>
                     <li>
                         <span class="simptip-position-bottom simptip-movable" data-tooltip="more">
                             <a href="index.html"> </a>
                         </span>
                     </li>
                    </ul>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Search..." onfocus="this.value='';" onblur="if(this.value==''){this.value='';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <br/>


            <div class="content">
                <div class="personal-Title"> 发布悬赏</div>
                <img src="../static/images/Line.png" class="personal-line"/>
                <table class="reward-table">
                    <tr>
                        <th>
                            <div class="money-title">主题</div>
                        </th>
                        <td>
                            <div class="reward-content">
                                <div class="reward-title">
                                    <input type="text" placeholder="请输入悬赏主题"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><div class="money-title">正文</div></th>
                        <td>
                            <div class="reward-content">
                                <div class="reward-info">
                                    <textarea rows="9" name="reward-information"cols="30"placeholder="请在此输入正文"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th> <div class="money-title">悬赏金额（wili)</div></th>
                        <td>
                            <div class="reward-content">
                                <div class="money">
                                    <input type="text" placeholder="悬赏金额越高，越容易找到资源哦~"/>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="reward-button" align="center">
                    <button onclick="">发布</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
</body>
</html>