<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form action = "/register" method = "post">
		<div>
			username
			<input type="text" name="username" id="username"/>
		</div>
		<div>
			email
			<input type="text" name="email" id="email"/>
		</div>
		<div>
			password
			<input type="password" name="password" id="password"/>
		</div>
		<button type="submit"> register </button>
	</form>

  </body>
</html>
