<!DOCTYPE html>
<html>
	<head>
		<title>Reawrd list</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/js/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<p>Reward List</p>

		<h1>Reward List</h1>
		<hr/>
		
	</body>
</html>
