<!DOCTYPE html>
<html>
	<head>
		<title>upload video</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/js/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<form action="/upload/upload_video" method="post">
			<p>上传视频</p>
			<span>视频标题</span>
			<input/>
			<span>视频描述</span>
			<input/>
			<button>选择封面图</button>
			<button>选择视频</button>
			<button>上传</button>
		</form>
	</body>
</html>
