<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
     <link href="/css/OfferAReward.css" rel='stylesheet' type='text/css' />
    <link href="/css/personal.css" rel='stylesheet' type='text/css' />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>
<body>
<div class="container">
        <div class="container_wrap">
            <div class="col-sm-3 logo">
                <a href="/">
                    <img alt="" src="/images/logo.png" />
                </a>
            </div>
           <div class="header_top">
           <div class="clearfix"></div>
           </div>
           
            <div class="content">
                <form id="upform" action="/upload/upload_video" method="post" enctype="multipart/form-data" ></form>
                <div class="personal-Title"> Upload Video</div>
                <img src="/images/Line.png" class="personal-line"/>
                <table class="reward-table">
                    <tr>
                        <th>
                            <div class="money-title">Title</div>
                        </th>
                        <td>
                            <div class="reward-content">
                                <div class="reward-title">
                                    <input type="text" form="upform" name="title" placeholder="Please enter the video title here..."/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th valign ="top"><div class="money-title">Description</div></th>
                        <td>
                            <div class="reward-content">
                                <div class="reward-info">
                                    <textarea rows="9" name="description"cols="30" form="upform" placeholder="Please enter the description here..."></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th valign ="top"><div class="money-title">Cover Image</div></th>
                        <td valign ="top">
                            <div class="Up-upload">
                                 <input type="file" id="chooseImage" name="thumbnail" form="upform" accept="image/*" />Choose Image
                            </div>
                            <img id="cropedBigImg" value='custom'  data-address=''class="pic" />
                        </td>
                    </tr>
                    <tr>
                        <th valign ="top"><div class="money-title">Upload Video</div></th>
                        <td>
                            <div class="Up-upload">
                                <input type="file" id="chooseVideo" name="video" form="upform" accept="video/*"/>Choose video
                            </div>
                            <video id="cropedVideo"class="upload-video" ></video>
                        </td>

                    </tr>
                </table>

                <div class="upload_button" align="center">
                    <input type="submit" form="upform" value="UPLOAD">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
<script type="text/javascript">

　 　 $('#chooseImage').on('change',function(){
        var filePath = $(this).val(),         //获取到input的value，里面是文件的路径
            fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
            src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式

        $('#cropedBigImg').attr('src',src);
});
$('#chooseVideo').on('change',function () {
    var filePath=$(this).val(),
        fileFormat=filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
        src=window.URL.createObjectURL(this.files[0]);

    $('#cropedVideo').attr('src',src);
})

</script>
</body>
</html>
