.icon{
    float: left;
    width: 25%;
    margin-left: 20%;
    margin-top: 1%;

    position: relative;
    min-height: 1px;


}
.personal{
    margin:10px 5px;

}
.message{
    float: right;
    font-size: 120%;
    width: 48%;
    color: #58198d;
    line-height: 200%;

}
.info{
    color: #58198d;
    float: left;
    width: 30%;
    font-weight: bold;
}
.info-detail{
    float: right;
    width: 60%;
}
.nav-button{
    float: left;
    width: 50%;
    text-align: center;
    line-height: 200%;
    font-size: 110%;
    align-content: end;
}
.nav-button input[type="text"]{
    border: 1px solid #E4E4E4;
	outline-color: #6103d2;
    float: left;
	width: 50%;
    height: 25px;
	font-size:0.8125em;
	padding:0px 6px;
	-webkit-appearance: none;
    margin: 2%  2% 2% 2%;
}
.nav-button ul,li{
    margin: 1% 1% 1% 1%;
    padding: 0px;
    width: 100%;
}
.nav-button button{
    background: #6103d2;
	color: #FFF;
    clear: left;
	font-size:1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
    height: 6%;
    margin: 2%  2% 2% 2%;
    border-radius: 3px;
}
.nav-button button:hover{
    background:#000;
}
.personal-button{
    margin: 2% 5% 2% 0%;
    border-radius: 3px;
    list-style: none;
    border: 1px solid #cfc5dd;
    transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.personal-button:hover{
    color: whitesmoke;
    background-color: #6103d2;

}
.personal-line{
    max-width: 100%;
}
.personal-Title{
    float: left;
    font-size: 200%;
    font-weight: bolder;
    color: #40176b;
}
.personal-Button-beside-title{
    float: right;
    width: 10%;
    font-size: 130%;
    color: #6723b2;

}
.personal-Button-beside-title:hover{
    background-color: #0f0f34;
    color: white;
}
.a-upload {
    float: right;
    padding: 0.5% 2%;
    height: 4%;
    line-height: 20px;
    position: relative;
    margin-right: 2%;
    cursor: pointer;
    color: #9d95ab;
    background: #fafafa;
    border: 1px solid #cfc5dd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  button {
    background: rgba(255, 255, 255, 0);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
    position: relative;
    font-size: 100%;
    cursor: pointer
}

.a-upload:hover {
    color: whitesmoke;
    background-color: #6103d2;
}
.personal-form1{
    float: right;
    width: 48%;
}

