<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiliWili - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="../static/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="container_wrap">

            <div class="header_top">
            </div>

            <div class="content">
                <div class="register">
                    <div class="col-md-7 login-left">
                        <a href="index.html">
                            <img src="../static/images/logo_login.png" alt="">
                        </a>
                        <img src="../static/images/f_logo_big.png" alt="">
                    </div>
                    <div class="col-md-7 login-right">
                        <h2>Log in </h2>
                        <p>If you have an account with us, please log in.</p>
                        <form>
                            <div>
                                <span>Email Address<label>*</label></span>
                                <input type="text">
                            </div>
                            <div>
                                <span>Password<label>*</label></span>
                                <input type="text">
                            </div>
                            <input type="submit" value="Log in">
                        </form>
                        <p>Don't have an account?  <a href="Register.html">Sign up</a> </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>